# IDEA
.idea
*.iml

# Exclude basic Eclipse files.
**/.project
**/.classpath
**/.settings/

# Exclude generated classes/stuff folders
**/target/

/colKryoData
/colKryoData.bak
/release.bat
/build.bat
/test-output/
/testlog.log
