#
# Root Lombok configuration file
#

# Do not look into higher dirs when generating.
config.stopBubbling = true

# For 1.18.22+ (?) -- null annotations to be used, see https://projectlombok.org/api/lombok/ConfigurationKeys.html
#lombok.addNullAnnotations = javax.annotation.Nonnull:javax.annotation.Nullable

# Generate setters that return 'this' for chaining. 
#lombok.accessors.chain = true
